.HomePage {
  padding-top: 100px;
  top: 30%;
}

body {
  background: url(./homepage-img.jpg);
}
h1 {
  font-size: 100px;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.HomePageLogo {
  height: 250px;
  padding: 10px;
}

.btn{
  text-decoration: none;
  margin: 30px;
}