.header {
    height: 70px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
}

.logo-container {
    height: 100%;
    padding: 0;
    margin: 0;

  }

.options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

img{
    height: 20px;
}

.options .option {
    padding: 10px 15px;
    cursor:pointer;
  }