.header {
    background-color: white;
}

.logo-container {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }

.logo{
    width: 40px;
    float: left;
    margin: auto;
    padding: 14px 16px;
}

.options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-end;
}

.options .option {
    position: relative;
    left: 80%;
    color: orange;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }